In [1]:
import pandas as pd
import numpy as np
import datetime
from scipy import stats

In [2]:
crimes = pd.read_csv('/Users/wenjiazhai/Documents/GitHub/python/TDI_2020/Arrest_Data_from_2010_to_Present.csv',
                    parse_dates=['Arrest Date'],
                    index_col=['Arrest Date'])
crimes.head()

,Report ID,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
Arrest Date,,,,,,,,,,,,,,,,
2015-02-24,4248313,1310.0,20,Olympic,2022,37,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
2019-05-03,191811472,1700.0,18,Southeast,1802,23,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2015-02-26,4254777,2010.0,19,Mission,1985,22,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
2019-04-29,5614161,1040.0,8,West LA,842,41,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
2019-04-30,5615197,615.0,6,Hollywood,663,27,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"

### How many bookings of arrestees were made in 2018?

In [3]:
crimes_2018 = crimes['2018']
len(crimes_2018)

104277

### How many bookings of arrestees were made in the area with the most arrests in 2018?

In [4]:
max(crimes_2018.groupby('Area Name')['Area Name'].count())

10951

### What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis: Vehicle Theft, Robbery, Burglary, Receive Stolen Property.

In [5]:
crimes_2018[crimes_2018['Charge Group Description'].isin(['Vehicle Theft', 'Robbery', 'Burglary', 'Receive Stolen Property'])]['Age'].quantile(q=0.95)

52.0

### There are differences between the average age of an arrestee for the various charge groups. Are these differences statistically significant? For this question, calculate the Z-score of the average age for each charge group. Report the largest absolute value among the calculated Z-scores.

In [12]:
print(crime_types)

['Fraud/Embezzlement', 'Homicide', 'Narcotic Drug Laws', 'Weapon (carry/poss)', 'Other Assaults', 'Miscellaneous Other Violations', 'Vehicle Theft', 'Aggravated Assault', 'Driving Under Influence', 'Robbery', 'Burglary', 'Against Family/Child', 'Moving Traffic Violations', 'Larceny', 'Forgery/Counterfeit', 'Receive Stolen Property', 'Sex (except rape/prst)', 'Prostitution/Allied', 'Liquor Laws', 'Drunkeness', 'Rape', 'Disturbing the Peace', nan, 'Disorderly Conduct', 'Gambling', 'Federal Offenses']

In [15]:
max(abs(stats.zscore(crimes_2018[crimes_2018['Charge Group Description'] == 'Fraud/Embezzlement']['Age'])))

4.397846773604753

In [17]:
crime_types = crimes_2018['Charge Group Description'].unique()
crime_types = [c for c in crime_types if c != 'Pre-Delinquency' and c != 'Non-Criminal Detention']

z_score = []
for c in crime_types:
    tmp_data = crimes_2018[crimes_2018['Charge Group Description'] == c]
    tmp = stats.zscore(tmp_data['Age'])
    z_score.append(max(abs(tmp)))

max(z_score)

/Users/wenjiazhai/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:2309: RuntimeWarning: Mean of empty slice.
  mns = a.mean(axis=axis)
/Users/wenjiazhai/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:85: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)
/Users/wenjiazhai/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:140: RuntimeWarning: Degrees of freedom <= 0 for slice
  keepdims=keepdims)
/Users/wenjiazhai/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:110: RuntimeWarning: invalid value encountered in true_divide
  arrmean, rcount, out=arrmean, casting='unsafe', subok=False)
/Users/wenjiazhai/anaconda3/lib/python3.7/site-packages/numpy/core/_methods.py:132: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

ValueError: max() arg is an empty sequence

### How many arrest incidents occurred within 2 km from the Bradbury Building in 2018?