In [1]:
s = list("IXIX")

roman = {"I":1, "a":5, "X":10, "L":50, "C":100, "D":500, "M":1000}
a = 0

while len(s) > 0:
    if len(s) == 1:
        a += roman[s[0]]
        pop[s]
    elif len(s) == 2:
        if roman[s[0]] >= roman[s[1]]:
            a += roman[s[0]]
            s.pop(0)
        else:
            a += roman[s[1]] - roman[s[0]]
            s.pop(0); s.pop(0)
    else:
        if roman[s[0]] >= roman[s[1]]:
            a += roman[s[0]]
            s.pop(0)
        else:
            a += roman[s[1]] - roman[s[0]]
            s.pop(0); s.pop(0)
            
print(a)

18

In [2]:
s = list("MCMXCIV")
lst = []
while len(s) > 1:
    if dict[s[0]] >= dict[s[1]]:
        lst.append(s.pop(0)
    else:
        lst.append([s.pop(1), s.pop(1)]))
print(lst)

SyntaxError: invalid syntax (<ipython-input-2-0058cbb2de2e>, line 6)

In [ ]:
s = list("MCMXCIV")
lst = []
lst.append([s.pop(1), s.pop(1)])
lst

In [28]:
a = "orange"
a.endswith("g", 1, 5)

True

In [20]:
for i, st in enumerate(a):
    print(i, ":", st)

3 : o
4 : r
5 : a
6 : n
7 : g
8 : e

In [29]:
str = "I ate an apple."
str.find("a")

2

In [32]:
str = "   I ate an apple.   "
str.strip("ple. ")

'I ate an a'

In [45]:
import pandas as pd
from sklearn.datasets import load_iris
iris = pd.DataFrame(load_iris()["data"])
iris.columns = ["sepal_length", "sepal_width",
                "petal_length", "petal_width"]
from string import ascii_lowercase
idx = []
for i in ascii_lowercase:
    for j in ascii_lowercase:
        idx.append(i + j)
iris.index = idx[:150]
iris.head()

    sepal_length  sepal_width  petal_length  petal_width
aa           5.1          3.5           1.4          0.2
ab           4.9          3.0           1.4          0.2
ac           4.7          3.2           1.3          0.2
ad           4.6          3.1           1.5          0.2
ae           5.0          3.6           1.4          0.2

In [59]:
iris.iloc[1:3, 0:2]

    sepal_length  sepal_width
ab           4.9          3.0
ac           4.7          3.2

In [55]:
lst = ["sepal_length","petal_length"]
iris[lst].head()

    sepal_length  petal_length
aa           5.1           1.4
ab           4.9           1.4
ac           4.7           1.3
ad           4.6           1.5
ae           5.0           1.4

In [165]:
def com():
    strs = ["dog","racecar","car"]
    n_min = min([len(x) for x in strs])
    a=list(strs[0][:n+1])
    for i in range(1, len(strs)):
        print("first loop:", i)
        for j in range(1, len(strs)):
            print("second loop:", j)
            for k in range(1, len(a)):
                print("third loop:", k)
                b = strs[j][:len(a)]
                print("b is:", b[-k])
                if a[-k] != b[-k]:
                    a.remove(a[-1])
                    print("k:", k, "if b[-k]:", b[-k], "a:", a)
                else:
                    print("else b:", b, "a:", a)
                    next
    if a != False:
        return "".join(a)
    else:
        return ""
com()

first loop: 1
second loop: 1
third loop: 1
b is: c
k: 1 if b[-k]: c a: ['d', 'o']
third loop: 2
b is: r
k: 2 if b[-k]: r a: ['d']
second loop: 2
first loop: 2
second loop: 1
second loop: 2

'd'

In [194]:
s1 = ["flower","flow","flight"]
s2 = []
s3 = ["",""]
s4 = ["c","c"]
s5 = ["a","a","b"]
s6 = ["dog","racecar","car"]
s7 = ["aa","a"]
def com(strs):
    if not strs:
        return ""
    for el in strs:      
        if not el:
            return ""
    if len(strs) == 1:
        return strs[0]
    for i in range(len(strs[0])):
        for word in strs[1:]:
            if i == 0 and strs[0][i] != word[i]:
                return ""
            elif i >= len(word) or strs[0][i] != word[i]:
                return strs[0][:i]
            
            if word == strs[0]:
                return strs[0]
com(s4)

'c'

In [215]:
s1 = ["flower","flow","flight"]
s2 = []
s3 = ["",""]
s4 = ["c","c"]
s5 = ["a","a","b"]
s6 = ["dog","racecar","car"]
s7 = ["aa","a"]

def a(s):
    if not a:
        return ""
    if len(s) == 1:
        return s[0]
    pre = s[0]
    for i in range(1, len(s)):
        while not s[i].startswith(pre):
            pre = pre[:-1]
        return pre
a(s7)

'a'

In [216]:
dir()

['In',
 'Out',
 '_',
 '_1',
 '_10',
 '_105',
 '_107',
 '_11',
 '_12',
 '_123',
 '_13',
 '_14',
 '_147',
 '_148',
 '_149',
 '_15',
 '_150',
 '_151',
 '_155',
 '_156',
 '_158',
 '_159',
 '_16',
 '_162',
 '_163',
 '_164',
 '_165',
 '_17',
 '_173',
 '_174',
 '_175',
 '_176',
 '_177',
 '_178',
 '_179',
 '_18',
 '_180',
 '_181',
 '_182',
 '_183',
 '_185',
 '_186',
 '_187',
 '_189',
 '_19',
 '_190',
 '_192',
 '_194',
 '_195',
 '_196',
 '_199',
 '_200',
 '_201',
 '_202',
 '_203',
 '_204',
 '_205',
 '_206',
 '_207',
 '_208',
 '_21',
 '_211',
 '_212',
 '_213',
 '_214',
 '_215',
 '_22',
 '_23',
 '_24',
 '_25',
 '_26',
 '_27',
 '_28',
 '_29',
 '_3',
 '_30',
 '_31',
 '_32',
 '_34',
 '_35',
 '_36',
 '_38',
 '_4',
 '_40',
 '_41',
 '_42',
 '_44',
 '_45',
 '_46',
 '_47',
 '_48',
 '_49',
 '_50',
 '_52',
 '_53',
 '_55',
 '_56',
 '_57',
 '_58',
 '_59',
 '_6',
 '_62',
 '_63',
 '_64',
 '_67',
 '_68',
 '_69',
 '_70',
 '_71',
 '_72',
 '_73',
 '_76',
 '_77',
 '_78',
 '_79',
 '_8',
 '_80',
 '_82',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i100',
 '_i101',
 '_i102',
 '_i103',
 '_i104',
 '_i105',
 '_i106',
 '_i107',
 '_i108',
 '_i109',
 '_i11',
 '_i110',
 '_i111',
 '_i112',
 '_i113',
 '_i114',
 '_i115',
 '_i116',
 '_i117',
 '_i118',
 '_i119',
 '_i12',
 '_i120',
 '_i121',
 '_i122',
 '_i123',
 '_i124',
 '_i125',
 '_i126',
 '_i127',
 '_i128',
 '_i129',
 '_i13',
 '_i130',
 '_i131',
 '_i132',
 '_i133',
 '_i134',
 '_i135',
 '_i136',
 '_i137',
 '_i138',
 '_i139',
 '_i14',
 '_i140',
 '_i141',
 '_i142',
 '_i143',
 '_i144',
 '_i145',
 '_i146',
 '_i147',
 '_i148',
 '_i149',
 '_i15',
 '_i150',
 '_i151',
 '_i152',
 '_i153',
 '_i154',
 '_i155',
 '_i156',
 '_i157',
 '_i158',
 '_i159',
 '_i16',
 '_i160',
 '_i161',
 '_i162',
 '_i163',
 '_i164',
 '_i165',
 '_i166',
 '_i167',
 '_i168',
 '_i169',
 '_i17',
 '_i170',
 '_i171',
 '_i172',
 '_i173',
 '_i174',
 '_i175',
 '_i176',
 '_i177',
 '_i178',
 '_i179',
 '_i18',
 '_i180',
 '_i181',
 '_i182',
 '_i183',
 '_i184',
 '_i185',
 '_i186',
 '_i187',
 '_i188',
 '_i189',
 '_i19',
 '_i190',
 '_i191',
 '_i192',
 '_i193',
 '_i194',
 '_i195',
 '_i196',
 '_i197',
 '_i198',
 '_i199',
 '_i2',
 '_i20',
 '_i200',
 '_i201',
 '_i202',
 '_i203',
 '_i204',
 '_i205',
 '_i206',
 '_i207',
 '_i208',
 '_i209',
 '_i21',
 '_i210',
 '_i211',
 '_i212',
 '_i213',
 '_i214',
 '_i215',
 '_i216',
 '_i22',
 '_i23',
 '_i24',
 '_i25',
 '_i26',
 '_i27',
 '_i28',
 '_i29',
 '_i3',
 '_i30',
 '_i31',
 '_i32',
 '_i33',
 '_i34',
 '_i35',
 '_i36',
 '_i37',
 '_i38',
 '_i39',
 '_i4',
 '_i40',
 '_i41',
 '_i42',
 '_i43',
 '_i44',
 '_i45',
 '_i46',
 '_i47',
 '_i48',
 '_i49',
 '_i5',
 '_i50',
 '_i51',
 '_i52',
 '_i53',
 '_i54',
 '_i55',
 '_i56',
 '_i57',
 '_i58',
 '_i59',
 '_i6',
 '_i60',
 '_i61',
 '_i62',
 '_i63',
 '_i64',
 '_i65',
 '_i66',
 '_i67',
 '_i68',
 '_i69',
 '_i7',
 '_i70',
 '_i71',
 '_i72',
 '_i73',
 '_i74',
 '_i75',
 '_i76',
 '_i77',
 '_i78',
 '_i79',
 '_i8',
 '_i80',
 '_i81',
 '_i82',
 '_i83',
 '_i84',
 '_i85',
 '_i86',
 '_i87',
 '_i88',
 '_i89',
 '_i9',
 '_i90',
 '_i91',
 '_i92',
 '_i93',
 '_i94',
 '_i95',
 '_i96',
 '_i97',
 '_i98',
 '_i99',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'ascii_lowercase',
 'b',
 'com',
 'exit',
 'get_ipython',
 'i',
 'idx',
 'iris',
 'j',
 'k',
 'load_iris',
 'lst',
 'n',
 'n_min',
 'pd',
 'quit',
 's1',
 's2',
 's3',
 's4',
 's5',
 's6',
 's7',
 'st',
 'str',
 'strs']

In [52]:
nums = [2, 7, 11, 15]
target = 9
def deduct():
    dct = {}
    for i in range(len(nums)):
         if nums[i] in dct:
            return [dct[nums[i]], i]
         else:
            dct[target - nums[i]] = i
            print(target - nums[i], i)
print(deduct())

7 0
[0, 1]

In [54]:
d = dict()

for i in range(100):
    key = i % 10
    if key in d:
        d[key] += 1
    else:
        d[key] = 1
print(d)

{0: 10, 1: 10, 2: 10, 3: 10, 4: 10, 5: 10, 6: 10, 7: 10, 8: 10, 9: 10}

In [55]:
len("aa")

2

In [84]:
def dct(s):
    dct = {"(":")", "{":"}", "[":"]"}
    mark = []
    if s[0] not in dct:
        return False
    for para in s:
        if para in dct:
            mark.append(para)
        else:
            if dct[mark.pop()] == para:
                return True
            
    return len(mark) == 0
    
dct("(([]){})")

True

In [56]:
2 / 2

1.0

In [88]:
def dct(s):    
    dct = {"(":")", "{":"}", "[":"]"}
    mark = []
    if not s:
        return True
    if s[0] not in dct:
        return False
    if len(s) % 2 ==1:
        return False
    for para in s:
        if para in dct:
            mark.append(para)
        else:
            if dct[mark.pop()] == para:
                return True
            else:
                return False

    return len(mark) == 0
dct("{)")

False

In [89]:
dct = {"(":")", "{":"}", "[":"]"}
mark = []
if not s:
    return True
if s[0] not in dct:
    return False
if len(s) % 2 ==1:
    return False
for para in s:
    if para in dct:
        mark.append(para)
    else:
        if dct[mark.pop()] == para:
            next
        else:
            return False

return len(mark) == 0

SyntaxError: 'return' outside function (<ipython-input-89-a79b5ac0eb73>, line 4)

In [90]:
a = "abc"
a[:-1]

'ab'

In [95]:
a = "abc"
a.startswith("")

True

In [96]:
a = lambda x, y: (x *b) / y 
b = 8
a(2,3)

5.333333333333333

In [99]:
class a():
    def __repr__(self):
        return "a"
    
a = a()
b = a
del a
print(b)

a

In [100]:
lst = ["a"]
lst

['a']

In [ ]:
nums = [1,1,2,2,3,3,4,4,4]
def dup():
    new = []
    if len(nums) <= 1:
        return len(nums)
    else:
        if nums[0] == nums[len(nums) - 1]:
            return 1
        else:
            new.append(nums[0])
            for i in range(len(nums) - 1):
                if nums[i] != nums[i+1]:
                    new.append(nums[i+1])
                    i = 0
                else:
                    next
    return new
dup()

In [ ]:
nums = [1,1,2,2,3,3,4,4,4]
def dup():
    i = 0
    while i < len(nums)-1:
        if nums[i] == nums[i+1]:
            nums.pop(nums[i])
        else:
            i += 1
    return len(nums)
dup()

In [4]:
nums = [0,1,2,2,3,0,4,2]
val = 2
def rem():
    while val in nums:
        nums.remove(val)
    return nums
rem()
#nums.remove([2, 3])

[0, 1, 3, 0, 4]

In [7]:
a = "12345"
a[5:]

''

In [ ]:
a = abs(x)
b = int(str(a)[::-1])
if b < 2**31-1:
    if 0 <= x <= 2 ** 31 -1:
        return b
    elif - 2**31 < x < 0:
        return -b
else:
    return 0